.eclipseElement {
    filter: blur(300px);
    width: 318px;
    height: 318px;
    position: absolute;
    left: 0;
    z-index: 0;
}


.eclipseElement.primary {
    background-color: #be87d7;
}


.eclipseElement.secondary {
    background-color: var(--secondary-color)
}

.eclipseElement.third {
    background-color: var(--third-color)
}