.about section {
    position: relative;
}

.about article {
    padding: 1em;
    color: var(--footer-bg);
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.about h1 {
    text-align: center;
    color: var(--footer-bg);
    margin-bottom: .75em;
}

.about section img {
    object-fit: cover;
    max-height: 1000px;
    width: 100%;
    object-position: center;
}

.about-container {
    padding: var(--space-size);
    max-width: 900px;
    margin: auto;
}



.about section::after {
    background: rgba(0, 0, 0, 0.3);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    content: "";
    height: 99%;
    position: absolute;
    width: 100%;
    inset: 0;
}

/* larger screens */
@media only screen and (min-width: 768px) {
    .about article {
        font-size: 22px;
    }
}