.card {
    background-color: var(--main-clr);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.card .card-img {
    width: 5000px;
    object-fit: cover;
    height: 100%;
    position: absolute;
    z-index: 0;
}



.card h3 {
    bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    left: 18px;
    max-width: 90%;
    position: absolute;
    z-index: 1;
}


.card::after {
    background: #fcfcfc;
    background: linear-gradient(180deg, hsla(0, 0%, 99%, 0), #000);
    content: "";
    height: 100%;
    mix-blend-mode: darken;
    opacity: .6;
    position: absolute;
    width: 100%;
}